---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
  rel="icon"
  type="image/svg+xml"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22><path fill=%22white%22 stroke=%22black%22 stroke-width=%221%22 d=%22M11.225 10.525q.525 0 .888-.363t.362-.887t-.362-.888t-.888-.362t-.887.363t-.363.887t.363.888t.887.362M20.55 22q-1.05 0-2.825-.875t-3.8-2.375q-.475.125-.962.188t-.988.062q-2.925 0-4.95-2.025T5 12.025q0-.5.075-1t.2-.975Q3.8 8.025 2.913 6.263T2.025 3.45q0-.675.375-1.062T3.425 2t1.688.45t2.862 1.525Q7.45 4.25 7 4.55t-.875.65q-.475-.275-.925-.475T4.25 4.3q.45.95.963 1.85T6.3 7.925q.95-1.35 2.425-2.125t3.25-.775q2.925 0 4.963 2.038t2.037 4.962q0 1.775-.788 3.25T16.05 17.7q.875.575 1.788 1.1t1.862.95q-.2-.475-.412-.925T18.8 17.9q.375-.425.675-.9t.55-.975q1.15 1.95 1.563 2.913T22 20.55q0 .725-.4 1.088T20.55 22m-6.825-6.975q.425 0 .713-.288t.287-.712t-.287-.712t-.713-.288t-.712.288t-.288.712t.288.713t.712.287m1.25-3.5q.325 0 .538-.213t.212-.537t-.212-.537t-.538-.213t-.537.213t-.213.537t.213.538t.537.212%22/></svg>"
/>
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/atkinson-regular.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/atkinson-bold.woff"
  as="font"
  type="font/woff"
  crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- Twitter -->
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
